<ion-view view-title="Add New Device">
    <ion-content padding="false">
		<div class="img-container">
            <img src="img/sample-lock.png">
        </div>
        <div class="device-info">
            <div class="device-name">Kevo Bluetooth smart lock</div>
            <span>Connect this device/sensor?</span>
        </div>
        <div class="btn-container-flex">
              <button type="button" class="button button-outline btn-hom-alt button-block">cancel</button>
              <button type="button" class="button button-stable btn-hom button-block">connect</button>
        </div>
    </ion-content>
</ion-view>
