<ion-view view-title="Add New Device">
    <ion-content padding="false">
		<div class="newdevice-msg">You can either enter device ID or scan QR code/barcode</div>
		<div class="btn-container">
			<button type="button" class="button button-stable btn-hom button-block" ng-click="navigateToAddConnect()">Enter device ID</button>
			<button type="button" class="button button-stable btn-hom button-block" ng-click="navigateToAddConnect()">Scan QR/Barcode</button>
		</div>
    </ion-content>
</ion-view>
