<ion-view view-title="PROFILE">
  <ion-content bgcolor="white">
      
     
    <div class="list" style="width: 100%; height: 100%" bgcolor="white">
<a class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-chevron-left icon-accessory"></i>
    28 State Street Parking Garage
     <i class="icon ion-star icon-accessory"></i>
  </a>
       <div class="item" id="Address" >
      <p class="pull-left">Address</p>
      <p class="pull-right">28 State Street Parking Boston</p>
    </div>      
      <div class="item" id="phone" >
      <p class="pull-left">Phone</p>
      <p class="pull-right">(323)363-3331</p>
    </div>
    <div class="item" id="Date" >
      <p class="pull-left">Date</p>
      <p class="pull-right">Nove 24</p>
    </div>
    <div class="item" id="Start" >
      <p class="pull-left">Start</p>
      <p class="pull-right">9 AM</p>
    </div>
    <div class="item" id="End" >
      <p class="pull-left">End</p>
      <p class="pull-right">NA</p>
    </div>
    <div class="item" id="Type" > , 
      <p class="pull-left">Type</p>
      <p class="pull-right">Hourly</p>
    </div>
   <ion-toggle  ng-model="settings.enableFriends">
        Mind My Car
    </ion-toggle>
    <div class="item" id="current_time" >
      <p class="pull-left">Current Time</p>
      <p class="pull-right">00:00:00</p>
    </div align="center">
    <div>
      <button class="button button-large button-positive">
          Cancel
        </button>
         <button class="button button-large button-positive">
        Timeline
      </button>
    </div>
   

  </div>

      
  </ion-content> 
</ion-view>
