<ion-view view-title="Sign In">
    <div class="hom-login hom-sign-up">
        <div class="btn-container">
            <form ng-submit="doSignInAction()">
                <ion-list>
                    <label class="item item-input form-group">
                        <input type="email" placeholder="Email" class="text-center" ng-model="creds.email">
                    </label>
                    <label class="item item-input form-group">
                        <input type="password" placeholder="Password" class="text-center" ng-model="creds.password">
                    </label>
                </ion-list>
                <button type="submit" class="button button-stable btn-hom button-block button-hom">Sign in</button>
    			<button type="button" class="button button-clear btn-chevron" ng-click="doBackAction()">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
                </button>
    			<button type="button" class="button button-clear btn-chevron pull-right" ng-click="doForgotPasswordAction()">Forgot password? <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                </button>
            </form>
        </div>
    </div>
</ion-view>
