<ion-view view-title="PROFILE">
  <ion-content class="ion-content">
      <div class="item item-avatar item-icon-right" href="#" >
	      <img src="img/adam.jpg" style="width: 80px; height: 80px">
	      <i class="icon ion-ios-gear"></i>
	      <h2>Bill Murray</h2>
	      <p>Back off, man. I'm a scientist.</p>
	    </div>
	   
	  <div class="list" style="width: 100%; height: 100%" bgcolor="white">
	     <div class="item" id="email" >
		  <p class="pull-left">Email</p>
		  <p class="pull-right">bill@billmurray.com</p>
		</div>	    
	    <div class="item" id="phone" >
		  <p class="pull-left">Phone</p>
		  <p class="pull-right">(323)363-3331</p>
		</div>
		<div class="item" id="location" >
		  <p class="pull-left">Location</p>
		  <p class="pull-right">Hollywood, CA</p>
		</div>
		<div class="item" id="car_make" >
		  <p class="pull-left">Car make</p>
		  <p class="pull-right">Audi</p>
		</div>
		<div class="item" id="car_model" >
		  <p class="pull-left">Car model</p>
		  <p class="pull-right">A8</p>
		</div>
		<div class="item" id="license" >
		  <p class="pull-left">License plate #</p>
		  <p class="pull-right">BM1-541</p>
		</div>

	</div>
	    
  </ion-content> 
</ion-view>
