<ion-view view-title="PARKING">
  <ion-content>
      <div class="list">
        <div class="item item-button-left">
          downtown boston
          <button class="button button-stable">
            <i class="icon ion-navigate"></i>
          </button>
        </div>
        <a class="item item-thumbnail-left item-icon-right" href="#/tab/dash/dashdetails"  > 
          <img src="img/sample-livingroom.png" style="width: 64px; height: 64px">
          <i class="icon ion-chevron-right icon-accessory"></i>
          <h3><b>28 State Street Parking Garage</b></h3>
          <p>28 State St. <br/>Boston MA 02109</p>
        </a>
      </div>
      <img src="img/world_map.jpg" style="width: 100%; height: 100%" >
    <!-- <div id="map" data-tap-disabled="true"></div> -->    
  </ion-content>
</ion-view>
